<header>
  <div id="myCarousel" class="carousel container slide">
    <div class="carousel-inner">
              <div class="active item one"></div>
              <div class="item two"></div>
              <div class="item three"></div>
    </div>
  </div>
  <div class="header-content">    
    <div class="header-content-inner">
        <h1>Your Favorite Source of Free Bootstrap Themes</h1>
        <hr>
        <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
        <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
    </div>
  </div>
</header>
<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({interval: 5000});
  });
</script>

